body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

team	{color:green; font-size:small;}
item	{color:blue;}
score	{color:red; font-size:small;}

a {
  color: #00B7FF;
}
